<footer class="pt-4 border-top text-center">
            <small class="text-muted">DaviA © 2024</small>
        </footer>

        <div class="notifications"></div>

        <script src="/js/app.js"></script>


    </body>
</html>