:root {
    --primary-color: #3c0f91;
    --secondary-color: #4e3fac;
    --text-color: #e4e0ff;
    --textPrimary-color: #3E1E04;
    --hover-color: #c50fa0;
    --hover-bg-color: #182b79;
}


a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.notifications {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 25px;
    right: 25px;
}

.notification {
    margin-bottom: 1rem;
    color: white;
    padding: 1em;
}

.success {
    background-color: green;
}

.warning {
    background-color: orange;
}
.danger {
    background-color: red;
}
.bg-primary {
    background-color: var(--primary-color) !important;
}
body {
    background-color: var(--primary-color);
    width: 100%;
}
.container {
    background: linear-gradient(90deg, rgba(191,189,43,1) 5%, rgba(0,181,255,1) 27%, rgba(229,0,232,1) 47%, rgba(229,0,232,1) 56%, rgba(0,181,255,1) 74%, rgba(191,189,43,1) 93%);
    width: 100%;
}