:root {
    --primary-color: #3c0f91;
    --secondary-color: #4e3fac;
    --text-color: #e4e0ff;
    --textPrimary-color: #3E1E04;
    --hover-color: #c50fa0;
    --hover-bg-color: #182b79;
}
/* Specific styles for the left and right sidebars */
.sidebar-left, .sidebar-right {
    height: calc(100vh - 150px); /* Ajustez cette valeur selon vos besoins */
    overflow-y: auto;
}

/* Center the map-container within the central column */
.col-md-8 {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ensure content doesn't overflow out of the container */
    height: calc(100vh - 150px); /* Adjust height based on available space */
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.notifications {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 25px;
    right: 25px;
}

.notification {
    margin-bottom: 1rem;
    color: white;
    padding: 1em;
}

.success {
    background-color: green;
}

.warning {
    background-color: orange;
}
.danger {
    background-color: red;
}
.bg-primary {
    background-color: var(--primary-color) !important;
}
body {
    background-color: var(--primary-color);
    width: 100%;
}
.container {
    background: linear-gradient(90deg, rgba(191,189,43,1) 5%, rgba(0,181,255,0.7) 27%, rgba(229,0,232,0.7) 47%, rgba(229,0,232,0.7) 56%, rgba(0,181,255,0.7) 74%, rgba(191,189,43,1) 93%);
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.half-col {
    width: 4.16667%; /* Ce qui correspond à la moitié d'une colonne Bootstrap (1/24) */
}

.bg-white-transparent {
    background-color: rgba(255, 255, 255, 0.65); /* blanc avec 80% d'opacité */
}
#map-container {
    position: relative;
    width: 100%; /* S'assurer que chaque conteneur prend toute la largeur disponible */
    height: 100%; /* S'assurer qu'il occupe toute la hauteur disponible */
    overflow: hidden; /* Assure que tout est contenu dans le conteneur */
}

/* Styles pour chaque layer, superposition grâce à position: absolute */


/* Style commun pour tous les layers */
.map-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Par défaut, on désactive les interactions */
    opacity: 1; /* Les layers non actifs sont moins visibles */
    transition: opacity 0.3s ease; /* Transition fluide pour le changement d'opacité */
}
/* .map-layer > * {
    background-color: transparent !important;
} */

/* Z-index pour chaque layer */
#map-container-elements {
    z-index: 10; /* Le z-index le plus bas pour les éléments */
}

#map-container-objects {
    z-index: 20; /* Le z-index moyen pour les objets */
}

#map-container-characters {
    z-index: 30; /* Le z-index le plus élevé pour les personnages */
}
/* Style pour le layer actif */
.layer-active {
    pointer-events: all; /* Les événements de souris sont actifs pour le layer sélectionné */
    opacity: 0.9; /* Opacité pleine pour le layer actif */
    z-index: 100 !important; /* Le z-index le plus haut pour le layer actif */ !important;
}
.layer-inactive {
    opacity: 0.2; /* Opacité minimale pour les autres layers */
    z-index: 0 !important; /* Le z-index le plus bas pour les autres layers */
    pointer-events: none;
}

.grid-cell {
    background-color: #fff;
    border: 1px solid #ccc;
    position: relative;
}

.cell.selected {
    border-color: #ff9800; /* Couleur d'accentuation */
    background-color: rgba(255, 152, 0, 0.3); /* Couleur de fond avec transparence */
}
/* Ensure the cells adjust according to the map-container's size */
.cell {
    position: absolute;
    box-sizing: border-box;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: all;
}



.item {
    cursor: pointer;
    display: flex;
    align-items: start;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #f8f9fa;
    border-radius: 5px;
    border: 1px solid #ddd;
    transition: background-color 0.3s;
}

.selected-item {
    border: 2px solid #007bff;
}
.item:hover {
    background-color: #e2e6ea;
}


.item-thumbnail {
    width: 50px; /* Taille de la vignette */
    height: 50px;
    object-fit: cover; /* Assurez-vous que l'image s'adapte bien */
    border-radius: 3px;
}

.item-details {
    flex-grow: 1;
}

.item-name {
    font-size: 0.9rem;
    margin-bottom: 5px;
}

.item-description {
    font-size: 0.75rem;
    color: #6c757d;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px; /* Ajustez selon vos besoins */
}

#cell-details {
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
}

#item-list, #item-details {
    height: calc(100vh - 150px);
    overflow-y: auto;
}
#items .list-group-item {
    cursor: pointer;
}

#selected-item-details {
    border: 1px solid #ccc;
    padding: 10px;
    min-height: 100px;
}

#delete-mode-button {
    margin-bottom: 10px;
}

/* Style pour indiquer le mode actif */
.active-mode {
    background-color: rgb(32, 250, 68);
    border: 2px solid #da0000;
}

.mode-play .container-fluid {
    background-color: rgba(0, 255, 60, 0.296); /* Bleu clair pour le mode Insertion */
}

.mode-insert .container-fluid {
    background-color: rgba(0, 123, 255, 0.1); /* Bleu clair pour le mode Insertion */
}

.mode-delete .container-fluid {
    background-color: rgba(255, 0, 0, 0.1); /* Rouge clair pour le mode Suppression */
}

.mode-select .container-fluid {
    background-color: rgba(0, 255, 0, 0.1); /* Vert clair pour le mode Sélection */
}

.banner {
    text-align: center;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: bold;
}

.banner-play {
    color: #04ff00;
}

.banner-insert {
    color: #007bff;
}

.banner-delete {
    color: #dc3545;
}

.banner-select {
    color: #28a745;
}
.btn_state {
    flex-basis: 30%; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}
.mode-grab {
    cursor: grab;
}
.mode-grab.grabbing {
    cursor: grabbing;
}

.btn_state {
    flex-basis: 30%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn_state-large {
    flex-basis: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.btn_state.small {
    font-size: 0.75rem !important; /* Force la taille du texte à être plus petite */
}

.btn_state.xx-small {
    font-size: 0.6rem !important; /* Pour une taille encore plus petite */
}

/* Style pour la modale */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Style pour la sélection de personnages */
.character-selection {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.character-card {
    margin: 10px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.3s;
    text-align: center; /* Centrer le texte */
    width: 45%;
}

.character-card img {
    max-width: 100px;
    border-radius: 10px;
}

.character-card p {
    margin-top: 5px;
    
}

.character-card:hover {
    border: 2px solid #333;
}
.character-image {
    width: 100px; /* Largeur du conteneur */
    height: 75px; /* Hauteur du conteneur */
    background-position: 0 0; /* Position X: 0, Y: 0 */
    background-size: 200%; /* Affiche 50% de la largeur et 25% de la hauteur */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    border-radius: 10px; /* Pour arrondir les coins */
}
.character-description {
    font-size: 0.8rem;
    color: #333;
    margin-top: 5px;
}

#cell-edit-form {
    margin-top: 20px;
}

.form-label {
    font-weight: bold;
}

input[type="range"] {
    width: 100%;
}