:root {
    --primary-color: #3c0f91;
    --secondary-color: #4e3fac;
    --text-color: #e4e0ff;
    --textPrimary-color: #3E1E04;
    --hover-color: #c50fa0;
    --hover-bg-color: #182b79;
}
/* Specific styles for the left and right sidebars */
.sidebar-left, .sidebar-right {
    height: calc(100vh - 150px); /* Ajustez cette valeur selon vos besoins */
    overflow-y: auto;
}

/* Center the map-container within the central column */
.col-md-8 {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ensure content doesn't overflow out of the container */
    height: calc(100vh - 150px); /* Adjust height based on available space */
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.notifications {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 25px;
    right: 25px;
}

.notification {
    margin-bottom: 1rem;
    color: white;
    padding: 1em;
}

.success {
    background-color: green;
}

.warning {
    background-color: orange;
}
.danger {
    background-color: red;
}
.bg-primary {
    background-color: var(--primary-color) !important;
}
body {
    background-color: var(--primary-color);
    width: 100%;
}
.container {
    background: linear-gradient(90deg, rgba(191,189,43,1) 5%, rgba(0,181,255,0.7) 27%, rgba(229,0,232,0.7) 47%, rgba(229,0,232,0.7) 56%, rgba(0,181,255,0.7) 74%, rgba(191,189,43,1) 93%);
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.half-col {
    width: 4.16667%; /* Ce qui correspond à la moitié d'une colonne Bootstrap (1/24) */
}

.bg-white-transparent {
    background-color: rgba(255, 255, 255, 0.65); /* blanc avec 80% d'opacité */
}
/* Adjust the map-container to allow scrolling if the content is larger than the container */
#map-container {
    overflow: auto;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
    grid-auto-rows: 30px;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
}
.grid-cell {
    background-color: #fff;
    border: 1px solid #ccc;
    position: relative;
}

.cell.selected {
    border-color: #ff9800; /* Couleur d'accentuation */
    background-color: rgba(255, 152, 0, 0.3); /* Couleur de fond avec transparence */
}
/* Ensure the cells adjust according to the map-container's size */
.cell {
    flex: 0 0 auto;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}


.selected-item {
    border: 2px solid #007bff;
}

.item {
    cursor: pointer;
    display: flex;
    align-items: start;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #f8f9fa;
    border-radius: 5px;
    border: 1px solid #ddd;
    transition: background-color 0.3s;
}

.item:hover {
    background-color: #e2e6ea;
}


.item-thumbnail {
    width: 50px; /* Taille de la vignette */
    height: 50px;
    object-fit: cover; /* Assurez-vous que l'image s'adapte bien */
    border-radius: 3px;
}

.item-details {
    flex-grow: 1;
}

.item-name {
    font-size: 0.9rem;
    margin-bottom: 5px;
}

.item-description {
    font-size: 0.75rem;
    color: #6c757d;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px; /* Ajustez selon vos besoins */
}

#cell-details {
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
}

#item-list, #item-details {
    height: calc(100vh - 150px);
    overflow-y: auto;
}
#items .list-group-item {
    cursor: pointer;
}

#selected-item-details {
    border: 1px solid #ccc;
    padding: 10px;
    min-height: 100px;
}

#delete-mode-button {
    margin-bottom: 10px;
}

/* Style pour indiquer le mode actif */
.active-mode {
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px solid #000;
}

.mode-play .container-fluid {
    background-color: rgba(0, 255, 60, 0.296); /* Bleu clair pour le mode Insertion */
}

.mode-insert .container-fluid {
    background-color: rgba(0, 123, 255, 0.1); /* Bleu clair pour le mode Insertion */
}

.mode-delete .container-fluid {
    background-color: rgba(255, 0, 0, 0.1); /* Rouge clair pour le mode Suppression */
}

.mode-select .container-fluid {
    background-color: rgba(0, 255, 0, 0.1); /* Vert clair pour le mode Sélection */
}

.banner {
    text-align: center;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: bold;
}

.banner-play {
    color: #04ff00;
}

.banner-insert {
    color: #007bff;
}

.banner-delete {
    color: #dc3545;
}

.banner-select {
    color: #28a745;
}
.btn_state {
    flex-basis: 30%; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}
.mode-grab {
    cursor: grab;
}
.mode-grab.grabbing {
    cursor: grabbing;
}

.btn_state {
    flex-basis: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
